<h4 class="mt-3">TODO</h4>
<hr style="height:1px;border:none;color:#333;background-color:#333;">

<div *ngFor="let listItem of listItems">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(checked)]="listItem.completed" (click)="completed(listItem)">
    <label *ngIf="!listItem.editing" class="form-check-label" for="defaultCheck1">
      {{ listItem.listItem }}
    </label>
    <input *ngIf="listItem.editing" type="text" style="width: 80%;" [(ngModel)]="listItem.listItem">
    <button class="float-right" (click)="delete(listItem)">Delete</button>
    <button *ngIf="!listItem.editing" class="float-right" (click)="edit(listItem)">Edit</button>
    <button *ngIf="listItem.editing" class="float-right" (click)="save(listItem)">Save</button>
    &nbsp;
  </div>
  <hr>
</div>

<h4 class="mt-3">Completed</h4>
<hr style="height:1px;border:none;color:#333;background-color:#333;">

<div *ngFor="let listItem of completedListItems">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [checked]="listItem.completed" (click)="todoAgain(listItem)">
    <label *ngIf="!listItem.editing" class="form-check-label" for="defaultCheck1">
      <s>{{ listItem.listItem }}</s>
    </label>
    <input *ngIf="listItem.editing" type="text" style="width: 80%;" [(ngModel)]="listItem.listItem">
    <button class="float-right" (click)="delete(listItem)">Delete</button>
    <button *ngIf="!listItem.editing" class="float-right" (click)="edit(listItem)">Edit</button>
    <button *ngIf="listItem.editing" class="float-right" (click)="save(listItem)">Save</button>
    &nbsp;
  </div>
  <hr>
</div>